#Trabajo colaborativo de ICC
#Definir funciones
#Funcón calculadora :''v
def sumar(a,b):
    c = a + b
    return c
def restar(a,b):
    c= abs(a-b)
    return c
def multiplicar(a,b):
    c= a*b
    return c
def dividir(a,b):
    if b!=0:
        c=a/b
        return c
    elif b==0:
            print("indeterminado")
e=float(2.7182818)
pi=float(3.141592)
π=float(3.141592)
print("CALCULADORA COQUITO solo numeros naturales")
print("S: Sumar")
print("R: Restar")
print("M: Multiplicar")
print("D: Dividir")
print("X: Salir")
i=0
while i==0:
    print("----------------------------")
    op=input("Seleccione operación:")
    if op!="X":
        x=float(input("Ingrese 1er valor: "))
        y=float(input("Ingrese 2do valor: "))
        S=sumar(x,y)
        R=restar(x,y)
        M=multiplicar(x,y)
        D=dividir(x,y)
        if op=="S":
            print("La suma es:",str(S))
        elif op=="R":
            print("La resta es:",str(R))
        elif op=="M":
            print("La multiplicación es:",str(M))
        elif op=="D":
            print("La división es:", str(D))
    else:
        i=i+1  

